<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>芝士侠</title>

    <link href="/css/common.css" rel="stylesheet"/>
    <style type="text/css">
        /*loading*/
        body{margin: 0;padding: 0;}
        h2{text-align: center;}
        .anxiety{width: 1000px;height: 600px;margin: 0 auto;background: #abcdef;}
    </style>
    <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
    <!--<script type="text/javascript" src="/views/anxiety.js"></script>-->
</head>
<body>
<h2>数学焦虑图表</h2>
<select class="sel" id="anxietygrade">
    <option value="0">请选择年级</option>
    <% if(result.gradelistinfo){%>
    <% result.gradelistinfo.forEach(function(item,index){%>
    <% if(index == 0){%>
    <option value="<%=item.grade_id%>"  selected='selected'><%=item.grade_name%></option>
    <% } else{ %>
    <option value="<%=item.grade_id%>"><%=item.grade_name%></option>
    <%}%>
    <%})%>
    <%}%>
</select>

<div class="anxiety1">
    <div  id="anxietychart" style="width: auto; height:300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;"></div>
</div>
<% include ../../views/loading.html %>

<script type="text/javascript" src="/echarts/echarts.js"></script>
<script type="text/javascript" src="/views/anxietyecharts.js"></script>
</body>