<div class="grade">
    <span class="blood_type cla">
         <select class="cons_set "  name="grade">
             <option selected="selected" value="1">公办高中</option>
             <option value="2">民办高中</option>
             <option value="3">公办初中</option>
             <option value="4">民办初中</option>
             <option value="5">培训机构</option>
         </select>
    </span>
    <span class="blood_type cla">
        <strong class="cons_set">班级</strong>
         <ol class="cla_class" name="gradeclass">
             <li>1</li>
             <li>2</li>
             <li>3</li>
             <li>4</li>
         </ol>
    </span>
    <em>班</em>
</div>