<link type="text/css" href="/css/console.css" rel="stylesheet" >
<!-- 内容-->
<div class="con_desk">
    <div class="con_tit">
        <h3>学生知识点掌握情况</h3>

        <select class="sel" id="grade">
            <option value="0">请选择年级</option>
            <% if(result.gradelistinfo){%>
            <% result.gradelistinfo.forEach(function(item,index){%>
            <% if(index == 0){%>
            <option value="<%=item.grade_id%>" selected='selected'><%=item.grade_name%></option>
            <% } else{ %>
            <option value="<%=item.grade_id%>"><%=item.grade_name%></option>
            <%}%>
            <%})%>
            <%}%>
        </select>

        <select class="sel" id="point">
            <option value="0">请选择知识点</option>
        </select>
    </div>
    <div class="contrast_all">
        <div class="class_con">
            <h3>班级对比 <span>班级准确率/%</span></h3>
            <div class="chart_class">
               <div class="chart-content">
                   <div  id="classeschart" style="width: 380px; height: 300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;">
                       <img src="../../images/load.gif" class="load"/>
                   </div>
               </div>
            </div>
        </div>
        <div class="student_con">
            <h3>学生对比 <span style="margin-left: 2px;">学生准确率/%</span></h3>
            <select class="bt_cl" id="classnum">
                <option value="0">请选择班级</option>
            </select>
            <div class="chart_student">
                <div  id="userchart" style="width: auto; height:300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;margin-left: 20px;">
                    <img src="../../images/load.gif" class="load"/>
                </div>
            </div>
        </div>
       <!-- <h2 class="math_an">数学焦虑图表</h2> -->
        <div class="new_fun">
               <h3>新功能开发中</h3>
            <h5>即将上线，敬请期待</h5>
        </div>
        <div class="anxiety">
            <h2>
                数学焦虑程度 <span>焦虑值</span>
            </h2>
            <div  id="anxietychart" style="width: auto; height:300px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;margin-left: 20px;">
                <img src="../../images/load.gif" class="load"/>
            </div>
        </div>
    </div>
</div>
<% include ../../views/loading.html %>
<script type="text/javascript" src="/echarts/echarts.js"></script>
<script type="text/javascript" src="/js/classrateecharts.js"></script>
<script type="text/javascript" src="/js/userrateecharts.js"></script>
<script type="text/javascript" src="/views/anxietyecharts.js"></script>
<script>
    $(function(){
        initconsoledeskFun();
    })
</script>