<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="a">
    <meta charset="utf-8"/>
    <title>芝士侠教师平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="MuYMvvO4eP" />
    <link type="text/css" href="/css/reset.css" rel="stylesheet" >
    <link type="text/css" href="/css/header.css" rel="stylesheet" >
    <link type="text/css" href="/css/register.css" rel="stylesheet" >
    <link type="text/css" href="/css/common.css" rel="stylesheet" >
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/views/common/encrypt.js"></script>
    <script type="text/javascript" src="/views/common/cookie.js"></script>
    <script type="text/javascript" src="/js/teacher.js"></script>
    <!--<script type="text/javascript" src="/js/ui.js"></script>-->
</head>
<body>
<!--头部 -->
<div id="head_bg"style="background: none;">
    <div class="tea_head"style="width: 1000px;">
        <a href="javascript:void(0);"><img src="/images/zhishi_logo.png" class="zhi_logo1"></a>
        <div class="reg_sty">
            <span class="border_right"><a href="/admin/login" class="cur">登录</a> </span>
            <span><a href="/admin/register" >注册</a> </span>
        </div>
    </div>
</div>
<!-- 内容-->
<div class="log_cont reg_cont ">
    <h3>高效、专业的学情统计平台<br>
        分析学生知识掌握情况,助力教研工作</h3>
    <ul class="reg_list">
        <li class="pass_sty">
            <input type="text" value="" placeholder="请在此输入您的邮箱" class="check_err" id="account"/>
            <em class="err_mes">邮箱不能为空</em>
        </li>
        <li class="pass_sty">
            <input type="password" value="" placeholder="请在此输入密码"  class="check_err" id="password" />
            <em class="err_mes" >密码不能为空</em>
            <a href="javascript:void(0);" class="for_password" id="forgetpassword">忘记密码？</a>
        </li>
    </ul>
    <div class="re_me">
        <i></i><span id="remberme">记住我</span>
    </div>
    <div class="reg_btn" >
        <span id="loginbtn" style="display: block">登录</span>
        <div id="msg"></div>
    </div>
</div>

<!-- 遮罩弹框 -->
<div class="shad" style="display: none"></div>
<!--找回密码 -->
<div class="shade_input" style="display: none;">
    <div class="phone_num" style="height: 116px;">
        <div class="phone">
            <span>邮箱:</span>
            <input type="tel" value="" id="emailtxt" placeholder="请输入你注册的邮箱" style="width: 176px;">
            <!-- <span >获取验证码</span> -->
            <input type="button" class="code" value="确认" id="sendcode">
        </div>
        <p id="tel_err" class="emial_err" ></p>
    </div>
</div>

<% include ../../views/loading.html %>

<script type="text/javascript">
    $('.re_me i').click(function(){
        $(this).toggleClass('checked');
    });
    $(function () {
        loginformFun();
    });
    $('.pass_sty input').focus(function(){
        $(this).addClass('fos').parent().siblings().find('input').removeClass('fos');
    });
    $('.pass_sty input').blur(function(){
        $(this).removeClass('fos');
    })
</script>
</body>
</html>