<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="a">
    <meta charset="utf-8"/>
    <title>芝士侠教师平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="MuYMvvO4eP" />
    <link type="text/css" href="/css/reset.css" rel="stylesheet" >
    <link type="text/css" href="/css/header.css" rel="stylesheet" >
    <link type="text/css" href="/css/register.css" rel="stylesheet" >
    <link type="text/css" href="/css/common.css" rel="stylesheet" >
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/teacher.js"></script>
    <!--<script type="text/javascript" src="/js/ui.js"></script>-->
</head>
<body style="background:#fafafa;">
<!--头部 -->
<div id="head_bg">
    <div class="tea_head" style="width: 1000px;">
        <a href="javascript:void(0);"><img src="/images/zhishi_logo.png" class="zhi_logo1"></a>
        <div class="reg_sty">
            <span class="border_right"><a href="/admin/login">登录</a> </span>
            <span><a href="/admin/register" class="cur">注册</a> </span>
        </div>
    </div>
</div>
<!-- 内容-->
<div class="reg_cont reg_new">
    <h3> 注册</h3>
    <ul class="reg_list">
        <li>
            <span>账号</span>
            <input type="text" value="" placeholder="请在此输入您的邮箱" class="check_err" id="account"/>
            <em class="err_mes">邮箱不能为空</em>
            <em class="err_mes email_valid">邮箱格式不正确</em>
            <em class="err_mes email_exist">邮箱已存在</em>
        </li>
        <li>
            <span>姓名</span>
            <input type="text" value="" placeholder="请在此输入您的真实姓名" class="check_err" id="fullname" />
            <em class="err_mes">姓名不能为空</em>
        </li>
        <li>
            <span>密码</span>
            <input type="password" value="" placeholder="请在此输入4~16为字符"  class="check_err" id="password"/>
            <em class="err_mes">密码不能为空</em>
            <em class="err_mes pwd_valid">至少6位字符</em>
        </li>
        <li>
            <span>确认密码</span>
            <input type="password" value="" placeholder="请在此输入密码" class="check_err" id="confirmpassword"/>
            <em class="err_mes">密码不能为空</em>
            <em class="err_mes confirm_pwd">两次密码输入不一致</em>
        </li>
    </ul>
    <div class="reg_btn" >
        <span id="regsavebtn" style="display: block">保存</span>
        <div id="msg"></div>
    </div>
</div>
<% include ../../views/loading.html %>
<script>
    $(function () {
        registerformFun();
    });
    $('.reg_list input').focus(function(){
        $(this).addClass('act').parent().siblings().find('input').removeClass('act');
    });
    $('.reg_list input').blur(function(){
        $(this).removeClass('act');
    })
</script>
</body>
</html>