<!-- 内容-->
<div class="gen_setting">
    <div class="set_list">
        <ul>
            <li ><a href="/admin/setting">常规设置</a></li>
            <li class="current"><a href="javascript:void(0);">学校信息</a></li>
            <li><a href="/admin/securitysetting">安全隐私</a></li>
        </ul>
    </div>
    <div class="set_cont school_mes">
        <div class="info">
            <h3>个人中心 > 学校信息</h3>
            <!--<span class="change_info">修改信息</span>-->
        </div>
        <ul class="info_list">
            <li class="birthday" >
                <span style="margin:0;">校址</span>
                <span class="year" style="display: inline-block;">
                    <select id="province">
                        <option value="-1">请选择省份</option>
                        <% if(result && result.province && result.province.length>0){%>
                            <% result.province.forEach(function(item){%>
                                <% if(result && result.teacherinfo && result.teacherinfo.province_id && item.provinceID == result.teacherinfo.province_id){%>
                                    <option selected="selected" value="<%= item.provinceID%>"><%= item.province%></option>
                                <%}else{%>
                                    <option value="<%= item.provinceID%>"><%= item.province%></option>
                                <%}%>
                            <%})%>
                        <%}%>
                    </select>
                </span>
                <span class="month" style="display: inline-block;margin:auto 22px;">
                    <select id="city">
                        <option value="-1">请选择城市</option>
                    </select>
                </span>
                <span class="day" style="display: inline-block;">
                    <select id="area">
                        <option value="-1">请选择区县</option>
                    </select>
                </span>
                <input type="text" value="<%= result && result.teacherinfo && result.teacherinfo.address || ''%>" id="address" placeholder="请填写详细地址" class="address active" style="margin-bottom: 20px; display:block;">
            </li>
            <li class="school_all">
                <span>学校</span>
                <input type="text" value="<%=result && result.teacherinfo && result.teacherinfo.school_name || '未填写'%>" class="sel_sch active" readonly="readonly">
                <em class="err_mes">学校不能为空</em>
                <div class="school_sel"></div>
                <div class="other_school">
                    <span>其它：</span>
                    <input type="text" class="oth_cs" style="height: 30px;margin:0;">
                    <button class="btn_selector">确定</button>
                    <div class="close_box">关闭</div>
                </div>
            </li>
            <li class="blood  bg">
                <span>类别</span>
                <input type="text" value="民办高中" class="gray active" style="color: rgb(51, 51, 51); display: none;">
                <span class="blood_type comm" style="">
                    <select id="school_type" class="sch_type">
                        <option value="-1">请选择学校类型</option>
                        <% if(result && result.school_type && result.school_type.length>0){%>
                            <% result.school_type.forEach(function(item){%>
                                <% if(result && result.teacherinfo && result.teacherinfo.school_type && item.school_type_id && item.school_type_id== result.teacherinfo.school_type){%>
                                    <option selected="selected" value="<%= item.school_type_id%>"><%= item.school_type_name%></option>
                                <%}else{%>
                                    <option value="<%= item.school_type_id%>"><%= item.school_type_name%></option>
                                <%}%>
                            <%})%>
                        <%}%>
                    </select>
                </span>
            </li>
            <li class="birthday" id="grade_list">
                <span  id="grade_span" style="display: inline-block; position: absolute;left:-5px;top:-8px;">班级</span>
                    <div style="margin-left: 60px;line-height: 60px; position: relative" id="pargradediv" class="gra_tab">
                        <select id="grade" onchange="gradechangefun(this)"style="margin-right: 20px;">
                            <option value="-1" class="sel_class">请选择年级</option>
                        </select>
                        <select id="class_num">
                            <option value="-1">请选择班级</option>
                        </select>
                        <img src="../images/dele_ico.png"  style='position: absolute;left: 280px;top:16px; cursor: pointer;' class='close_btn'/>
                    </div>
                <span class="add_class_mes" style="display: inline-block;margin-left: 60px;">添加</span>
            </li>
        </ul>
        <div class="save_btn" style="margin-top:40px;display: block">
            <span>保存</span>
            <span class="save_btn_ico"></span>
        </div>
    </div>
</div>
<% include ../../views/loading.html %>
<input type="hidden" value="<%=result && result.teacherinfo && result.teacherinfo.province_id || ''%>" id="result_province_id">
<input type="hidden" value="<%=result && result.teacherinfo && result.teacherinfo.city_id || ''%>" id="result_city_id">
<input type="hidden" value="<%=result && result.teacherinfo && result.teacherinfo.area_id || ''%>" id="result_area_id">
<input type="hidden" id="school_id" value="<%= result && result.teacherinfo && result.teacherinfo.school_id || ''%>">
<input type="hidden" id="school_name" value="<%= result && result.teacherinfo && result.teacherinfo.school_name || ''%>">
<input type="hidden" id="teacherclasses" value="<%= result && result.teacherclasses%>">
<script src="/views/common/region.js"></script>
<script src="/views/common/school.js"></script>
<script src="/views/schoolinfo.js"></script>
<script>
    $(function(){
        $('.school_all .sel_sch').click(function(){
            $('.school_sel').fadeIn();
            $('.other_school').fadeIn();
        });
        $('.btn_selector').click(function(){
            if($('.oth_cs').val()==''){
                shake_box('请输入学校名称！');
            }else{
                $('.sel_sch').val($('.oth_cs').val());
                $("#school_name").val($('.oth_cs').val());
                $("#school_id").val('');
                $('.school_sel').hide();
                $('.other_school').hide();
                GetGradeBySchool(null,$('.oth_cs').val());
                $('.oth_cs').val('');
            }
        });

//        $('.add_class_mes').on('click',function(){
//            if($('.sel_sch').val()==''){
//                shake_box('请输入学校名称！');
//            }else{
////                $('.sel_sch').val($('.oth_cs').val());
////                $("#school_name").val($('.sel_sch').val());
////                $("#school_id").val('');
//                $('.school_sel').hide();
//                $('.other_school').hide();
//                var school_id=$("#school_id").val();
//                var school_name=$("#school_name").val();
//
//                GetGradeBySchool(school_id,school_name);
////                $('.oth_cs').val('');
//            }
//        });

        $('.close_box').click(function(){
            $('.school_sel').fadeOut();
            $('.other_school').fadeOut();
        });
        /* --添加班级 */
        $('.add_class_mes').on('click',function(){
//            $(this).prev().find("option:selected").prop("selected", false);
//            var html =$(this).prev();
//            $(html).insertAfter('#grade_span');
//            $(".pargradediv:last").after(html);
//            console.log('html',html)
            $('.add_class_mes').before($(this).prev().clone(true));
            $(this).prev().find('select option').attr('selected',null);
            $('.close_btn').show();
//            $(html).insertBefore(".add_class_mes")
        });
    });
    $(document).on('click','.close_btn',function(){
        if($('#grade_list').children('div').length>1){
            $(this).parent().remove();
          //  $(this).show();
        }else{
            $('#grade_span').next().find('select option').attr('selected',null);
            $(this).hide();
        }
    });
    function SchoolClick(o){
        $('.sel_sch').val($(o).html());
        $("#school_name").val($(o).html());
        $('#school_id').val($(o).attr('data-id'));
        $(o).parent().parent().parent().hide();
        $('.other_school').hide();
        GetGradeBySchool($(o).attr('data-id'),null)
    };
    $('.info_list input').focus(function(){
        $(this).addClass('act').parent().siblings().find('input').removeClass('act');
    });
    $('.info_list input').blur(function(){
        $(this).removeClass('act');
    })
</script>