<!-- 内容-->
<div class="gen_setting">
    <div class="set_list">
        <ul>
            <li><a href="/admin/setting">常规设置</a></li>
            <li><a href="/admin/schoolinfo">学校信息</a></li>
            <li class="current"><a href="javascript:void(0);">安全隐私</a></li>
        </ul>
    </div>
    <div class="set_cont privacy">
        <div class="info">
            <h3>个人中心 > 安全隐私</h3>
        </div>
        <ul class="info_list">
            <li>
                <span>&nbsp;&nbsp;新密码</span>
                <input type="password" value="" class="check_err active" placeholder="请输入新密码" id="newpassword">
                <em class="err_mes">密码不能为空</em>
                <em class="err_mes pwd_valid">至少6位字符</em>
            </li>
            <li class="bg">
                <span>确认密码</span>
                <input type="password" value=""  class="check_err active" placeholder="请再次输入新密码" id="confirmnewpassword">
                <em class="err_mes err_confirmpwd">密码输入不一致</em>
            </li>
            <li>
                <span>&nbsp;&nbsp;验证码</span>
                <input type="text" value=""  class="check_err active st"placeholder="输入右侧字符" id="verifcode">
                <em class="err_mes em_sty ">验证码不能为空</em>
                <em class="err_mes em_sty err_verifcode">验证码错误</em>
                <!--<img src="/images/code_img.png" class="img_sty" />-->
                <img id="cmpic" src="/common/verifyCode" class="" >
            </li>
        </ul>
        <ul class="info_list" style="padding-top: 0;">
            <li>
                <span>绑定手机</span>
                <input type="text" value="<%=result.teacherinfo && result.teacherinfo.mobile || ''%>"  class="check_err active st" placeholder="绑定手机号码" id="phonenumber">
                <em class="err_mes em_sty">手机不能为空</em>
                <em class="err_mes binded_mobile">当前手机号已绑定</em>
                <% if(result.teacherinfo && result.teacherinfo.mobile){%>
                    <a href="javascript:;" class="bind_btn" id="unbindmobile">解除绑定</a>
                    <%}else{%>
                    <a href="javascript:;" class="bind_btn" id="bindmobile">立即绑定</a>
                <%}%>
            </li>
        </ul>

        <div class="save_btn" style="margin-top:80px;">
            <span id="savesecurity" class="save">保存</span>
            <div id="msg"></div>
            <span class="save_btn_ico"></span>
        </div>
    </div>
</div>
<!-- 遮罩弹框 -->
<div class="shad" style="display: none"></div>
<!--绑定手机号 -->
<div class="shade_input" style="display: none;">
    <div class="phone_num">
        <div class="phone">
            <span>手机号:</span>
            <input type="tel" value="" id="tel">
            <!-- <span >获取验证码</span> -->
            <input type="button" class="code" value="获取验证码">
        </div>
        <p id="tel_err"></p>
        <div class="phone_code">
            <span>验证码:</span>
            <input type="number" value="" id="VerificationCode">
        </div>
        <p id="code_err"></p>

        <% if(result.teacherinfo && result.teacherinfo.mobile){%>
        <!--<a href="javascript:;" class="save_btn" id="unbindmobile">解除绑定</a>-->
        <span class="true" id="unbind_mobile">确认</span>
        <%}else{%>
        <!--<a href="javascript:;" class="save_btn" id="bindmobile">立即绑定</a>-->
        <span class="true" id="bind_mobile">确认</span>
        <%}%>

    </div>
</div>
<% include ../../views/loading.html %>
<script>
    $(function(){
        securityPageFun();
    });
    $('.info_list input').focus(function(){
        $(this).addClass('act').parent().siblings().find('input').removeClass('act');
    });
    $('.info_list input').blur(function(){
        $(this).removeClass('act');
    })
</script>