 <!-- 内容-->
<div class="gen_setting">
    <div class="set_list">
        <ul>
            <li class="current"><a href="javascript:void(0);">常规设置</a></li>
            <li><a href="/admin/schoolinfo">学校信息</a></li>
            <li><a href="/admin/securitysetting">安全隐私</a></li>
        </ul>
    </div>
    <div class="set_cont">
        <div class="info">
            <h3>个人中心 > 常规设置</h3>
            <!--<span class="change_info">修改信息</span>-->
        </div>

        <ul class="info_list">
            <li class="bg">
                <span>帐号</span>
                <input type="text" value="<%=result.teacherinfo && result.teacherinfo.account||''%>" readonly="readonly" class="check_err" id="account" placeholder="请在此输入您的邮箱">
                <em class="err_mes">邮箱不能为空</em>
            </li>
            <li>
                <span>姓名</span>
                <input type="text" value="<%=result.teacherinfo && result.teacherinfo.fullname||''%>" readonly="readonly" class="check_err" id="fullname" placeholder="请在此输入您的真实姓名">
                <em class="err_mes">姓名不能为空</em>
            </li>
            <li  class="bg">
                <span>昵称</span>
                <input type="text" value="<%=result.teacherinfo && result.teacherinfo.nickname||''%>" placeholder="换个称呼，换个心情" class="check_err" readonly="readonly" id="nickname">
                <em class="err_mes">昵称不能为空</em>
            </li>
            <li class="sex_sel">
                <span>姓别</span>
                <span class="man">
                    <% if(result.teacherinfo && result.teacherinfo.sex ==1){%>
                    <i class="checked" value="1"></i>
                    <%} else{%>
                    <i class="" value="1"></i>
                    <%}%>
                    男</span>
                <span class="wo_man">
                      <% if(result.teacherinfo && result.teacherinfo.sex ==0){%>
                    <i class="checked" value="0"></i>
                    <%} else{%>
                    <i class="" value="0"></i>
                    <%}%>
                    女</span>
            </li>
            <li  class="bg birthday">
                <span class="bir_sty">生日</span>
                <select id="year" class="data">
                    <% for(var i=new Date().getFullYear();i>=1950;i--){%>
                    <% if(result && result.year && result.year == i){%>
                    <option value="<%= i%>" selected="selected"><%= i %></option>
                    <%}else{%>
                    <option value="<%= i%>"><%= i %></option>
                    <%}%>
                    <%}%>
                </select>
               <span> 年</span>
                <select id="month" class="data">
                    <% for(var i=1;i<=12;i++){%>
                    <% if(result && result.year && parseInt(result.month) == i){%>
                    <% if(i<10){%>
                    <option value="0<%= i%>" selected="selected">0<%= i %></option>
                    <%}else{%>
                    <option value="<%= i%>" selected="selected"><%= i %></option>
                    <%}%>
                    <%}else{%>
                    <% if(i<10){%>
                    <option value="0<%= i%>">0<%= i %></option>
                    <%}else{%>
                    <option value="<%= i%>"><%= i %></option>
                    <%}%>
                    <%}%>
                    <%}%>
                </select>
               <span>月</span>

                <select class="data" name="" id="day">
                    <% for(var i=1;i<=31;i++){%>
                    <% if(i<10){%>
                    <option value="0<%= i%>">0<%= i %></option>
                    <%}else{%>
                    <option value="<%= i%>"><%= i %></option>
                    <%}%>
                    <%}%>
                </select>
                <span>日</span>
            </li>
        </ul>
        <div class="save_btn">
            <span id="settingsavebtn" class="save">保存</span>
            <span class="save_btn_ico"></span>
        </div>
    </div>
    <input type="hidden" id="birthdayyear">
</div>
 <% include ../../views/loading.html %>
 <script>
     var year = $("#year option:selected").val();
     var month = $("#month option:selected").val();
     var result_day = "<%= result.day%>";
     if(parseInt(result_day)>0) {
         result_day = parseInt(result_day);
         var day = getDaysInMonth(year, month);
         if (day > 0) day = day;
         else day = 30;
         var html = "";
         for (var i = 1; i <= day; i++) {
             if (result_day == i) {
                 if (i < 10)
                     html += "<option value='0" + i + "' selected='selected'>0" + i + "</option>"
                 else
                     html += "<option value='" + i + "' selected='selected'>" + i + "</option>"
             } else {
                 if (i < 10)
                     html += "<option value='0" + i + "'>0" + i + "</option>"
                 else
                     html += "<option value='" + i + "'>" + i + "</option>"
             }
         }
         $("#day").html(html);
     }
     function getDaysInMonth(year,month) {
         var temp = new Date(parseInt(year), parseInt(month), 0);
         return temp.getDate();
     }
     $(function(){
         personalcenterSettingFun();
     });

     $('.info_list input').focus(function(){
         $(this).addClass('act').parent().siblings().find('input').removeClass('act');
     });
     $('.info_list input').blur(function(){
         $(this).removeClass('act');
     })
 </script>
