<!-- 内容-->
<div class="stu_manage">
    <div class="left_stu">
        <div class="class_tit">
            <h3>七年级1班</h3>
            <div>
                <span>班级人数:<em>42</em></span>
                <span>系统人数:<em>42</em></span>
            </div>
        </div>
        <ul class="stu_list">
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>1</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_remove"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>2</span>
                    <strong>杰克</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_remove"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>3</span>
                    <strong>肉丝</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_remove"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>4</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_remove"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>5</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>6</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>7</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>8</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove left_rem"/>
                </div>
            </li>

        </ul>
        <div class="remove_sel">
            <span class="le_remove_btn">移出</span>
            <div class="page_list">
                <span><img src="images/page_left.png" /> </span>
                <em class="active" >1</em>
                <em>2</em>
                <em>4</em>
                <em>5</em>
                <em>6</em>
                <span><img src="images/page_right.png" /></span>
            </div>
        </div>
    </div>
    <div class="right_stu">
        <div class="class_tit">
            <h3>七年级4班</h3>
            <div>
                <span>班级人数:<em>58</em></span>
                <span>系统人数:<em>58</em></span>
            </div>
        </div>
        <ul class="stu_list">
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>1</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>2</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>3</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>4</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>5</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>6</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>7</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem"/>
                </div>
            </li>
            <li>
                <div class="stu_name">
                    <i></i>
                    <span>8</span>
                    <strong>汤姆</strong>
                </div>
                <div class="stu_ico">
                    <a href="#"></a>
                    <img src="images/close_ico.png"  class="remove rig_rem "/>
                </div>
            </li>

        </ul>
        <div class="remove_sel">
            <span class="ri_remove_btn">移出</span>
            <span class="add_btn">添加本班学生</span>
            <div class="page_list">
                <span><img src="images/page_left.png" /> </span>
                <em class="active" >1</em>
                <em>2</em>
                <em>4</em>
                <em>5</em>
                <em>6</em>
                <span><img src="images/page_right.png" /></span>
            </div>
        </div>
    </div>
</div>
<!-- 遮罩弹框 -->
<div class="shade" ></div>
<!-- 添加学生-->
<div class="shade_input add_stu">
    <h3>请选择要添加的学生</h3>
    <span class="cur">王小强</span>
    <span>大小王</span>
    <span>文子子</span>
    <div class="add_btn">添加</div>
</div>
<!--成功移出/成功添加 -->
<div  class="shade_input suc_shade">
    <div class="suc"></div>
    <p>已经“杰瑞”从管理列表中移除</p>
</div>


<!--正在移除/正在添加 -->
<div  class="shade_input loading_sh" >
    <div class="suc"></div>
    <p>正在移除“杰瑞”……</p>
</div>

<!--确认移除/确认添加 -->
<div  class="shade_input confirm_add" >
    <p>确定将“杰瑞”从列表中移除？</p>
    <div class="sel_btn">
        <span class="confirm_btn">确定</span>
        <span class="cancel_btn">取消</span>
    </div>
</div>