<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="a">
    <meta charset="utf-8"/>
    <title>芝士侠教师平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="MuYMvvO4eP" />
    <link type="text/css" href="/css/reset.css" rel="stylesheet" >
    <link type="text/css" href="/css/header.css" rel="stylesheet" >
    <link type="text/css" href="/css/pre_center.css" rel="stylesheet" >
    <link type="text/css" href="/css/common.css" rel="stylesheet" >
    <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
    <!--[if IE 8]>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/teacher.js"></script>
    <!--<script type="text/javascript" src="/js/ui.js"></script>-->
</head>
<body>
<div id="content">
    <!--头部 -->
    <div id="head_bg">
        <div class="tea_head">
            <a href="/admin/consoledesk"><img src="/images/zhishi_logo.png" class="zhi_logo"></a>
            <ul>
                <li class="console"><a href="/admin/consoledesk">控制台</a> </li>
                <li class="stu_men"><a href="/admin/student">学生管理</a> </li>
                <li class="per_center"><a href="/admin/setting" class="cur">个人中心</a> </li>
            </ul>
            <a href="javascript:void(0);" class="log_out" onclick="loginout();">退出</a>
        </div>
    </div>
    <%- body%>
</div>
</body>
<script>
    var url = location.href;
    $('ul li').siblings().find('a').removeClass("cur");
    if(url.indexOf('student')>0){
        $('.stu_men a').addClass('cur');
    }else if(url.indexOf('setting')>0 || url.indexOf('schoolinfo')>0 || url.indexOf('securitysetting')>0){
        $('.per_center a').addClass('cur');
    }else if(url.indexOf('console')>0){
        $('.console a').addClass('cur');
    }
    function loginout(){
        $.ajax({
            type:'post',
            url:"http://" + location.host + "/admin/login/loginout",
            dataType:'json',
            success:function(){
                window.location.href = "http://" + location.host + "/";
            },
            error:function(err){
            }
        });
    }
</script>
</html>