<script type="text/javascript" src="/js/loading.js"></script>
<link href="/css/common.css" rel="stylesheet"/>

<!-- loading html-->
<div class="loadingBox" style="display: none;">
    <div></div>
</div>
<!-- loading -->
<div class="shade"></div>
<div class="shade_box" style="display: none;">
    <div class="cont">
        <h2>信息填写错误！</h2>
    </div>
</div>
