/*弹框验证*/

.shad{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.5);z-index: 999;display: none;}
.shade_input{width:400px;height:auto;background: #fff;border-radius: 14px;position: fixed;left: 50%;top:50%;margin-left:-200px;margin-top: -128px;padding:16px;z-index: 9999;display: none;}
.shade_input .phone_num{width: 100%;height: 250px;border: 1px dashed #515151;border-radius: 14px;}
.shade_input .phone_num .phone{width: 100%;margin: 36px auto 10px;text-align: left; position: relative;margin-left: 32px;overflow: hidden;}
.shade_input .phone_num .phone .gray{background: #f3f0f0 !important;color: #959292 !important;}
.shade_input .phone_num .phone .code{width:80px;height: 30px;background:#c8c8c8;display: inline-block;color: #333;line-height: 30px;border-radius:6px;cursor: pointer;position: absolute;right: 50px;top:0px;border: none; }
.shade_input .phone_num .phone input{width: 150px;height:32px;outline: none;border: 1px solid #afafae;padding-left: 6px;margin-right: 20px;border-radius: 6px;}
.shade_input .phone_num .phone span.gray{background:#ccc !important;}
.shade_input .phone_num .phone_code{width:88%;text-align:left;margin-bottom: 10px;margin-left:32px;overflow: hidden;}
.shade_input .phone_num .phone_code input{width: 88px;height:32px;outline: none;border: 1px solid #afafae;padding-left: 6px;margin-right: 20px;border-radius: 6px;}
.shade_input .phone_num .true{text-align: center;display: block; width: 94px;height: 40px;line-height:40px;color:#fff;cursor: pointer;background:#43adee; margin: 16px auto 0;border-radius: 6px;box-shadow:2px 2px 3px 0px #ccc;}
.shade_input .phone_num  p{color: #e6b800;height: 20px;margin-left: 84px;line-height: 8px;}
.shade_input .cont h2{margin-top: 50px;}
.shade_input .cont span{width:72%;height:60px;margin:34px auto 0;display: block;}
.shade_input .cont span a{width: 170px;height: 58px;display: inline-block;}
/*.shade_input .cont span a.true_btn{background: url(../../images/person/confirm_btn.png)  no-repeat;margin-right: 20px; }*/
/*.shade_input .cont span a.rest_btn{background: url(../../images/person/cancel_btn.jpg)  no-repeat; }*/

/*添加学生弹框*/
.add_stu h3{text-align: center;line-height: 40px;margin-bottom: 20px;font-size: 20px;color: #333;}
.add_stu span{height:30px;display:inline-block;width:26%;color: #666;border: 1px solid #666;border-radius: 20px;margin: 10px; cursor: pointer;text-align: center;line-height: 30px;}
.add_stu span.cur{background: #ccc;color: #666;border: 1px solid #ccc;}
.add_stu .add_btn{width: 94px;height: 40px;line-height: 40px;color: #fff;font-size: 16px;background:#43adee;text-align: center;border-radius: 20px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;margin: 30px auto 0;}

/*成功移出/成功添加*/
.suc_shade .suc{width: 110px;height: 110px;background: url("../images/finish.png") no-repeat center center;margin: 0 auto;}
.suc_shade p{text-align: center;line-height: 40px;}

/* 确认移除/确认添加 */
.loading_sh .suc{width:88px;height:88px;background: url("../images/loading_ico.png") no-repeat center center;margin: 0 auto;}
.loading_sh  p{text-align: center;line-height: 40px;}

/*确认 取消*/
.confirm_add p{text-align: center;line-height: 40px;font-size: 20px;color: #666;}
.confirm_add .sel_btn{width: 80%;margin: 30px auto;}
.confirm_add .sel_btn span{width:30%;height: 40px;text-align: center;line-height: 40px;border: 1px solid #ccc;color: #666;border-radius: 10px;margin: 20px auto;display:inline-block;cursor: pointer;}
.confirm_add .sel_btn span.confirm_btn{margin:auto 40px;}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* 公用弹框*/
.shade{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.5);z-index: 999;display: none;  filter:alpha(opacity=50)  \0 !important;background: #000 \0 !important;}
.shade_box{width: 300px;height: 70px;background: #fff;border-radius: 14px;position: fixed;left: 50%;top:50%;margin-left:-150px;margin-top: -50px;padding:16px;z-index: 9999;display: block;}
.shade_box .cont{width: 100%;height: 70px;border: 1px dashed #515151;border-radius: 14px;}
.shade_box .cont h2{margin: 0 auto;line-height:70px;font-size:16px;text-align: center;}
.save_btn {position: relative;}
.save_btn_ico{width:120px; height: 36px;position: absolute;right:-138px;bottom:0px;text-align: right;font-size:16px;line-height:40px;color: #4bb4f0;background: url("../images/save_suc.png") no-repeat left center; display: none;}

.shade_look {width: auto;height:auto;background: #fff;position: fixed;left: 50%;top:50%;display: none;z-index:9999;border-radius: 20px;padding-right: 20px;padding-left: 20px;}

/*loading*/
.loadingBox {background-color: rgba(230,230,200,0.6);position:fixed;top:0;z-index:998;width:100%;height:100%;}
.loadingBox div {background:url(../images/loading.gif) 50% 50%  no-repeat;width:100%;height:100%}

.log_out{position: absolute;right:36px;top: 66px;color: #666;}