body{background:#f4f4f4;}
.con_desk{height: auto; margin:30px 20px 0 20px;position: relative;padding-bottom: 50px;}
.con_desk .con_tit{height:auto;box-shadow:0px 4px 10px -2px #efefef; background: #fff;}
.con_desk .con_tit h3{font-size: 20px;color: #333333;line-height: 80px;margin: 10px 0 0 20px;display: inline-block;}
.con_desk .con_tit .sel{margin-left: 20px;height:30px;}
.con_desk .contrast_all{width: auto;height: auto;border-top: 1px solid #efefef;}
.con_desk .contrast_all .class_con{width:400px;height: auto;display: inline-block;border-right: 2px solid #eae8e8;float: left;background: #fff;padding-bottom: 19px;box-shadow:-4px 4px 8px  #e5e5e5;}
.con_desk .contrast_all .class_con .chart_class{width: 380px;height:auto; margin: 0 auto;}
.con_desk .contrast_all .class_con h3{font-size: 18px;color: #333333;line-height: 80px;margin: 0 0 -30px 20px;position: relative;}
.con_desk .contrast_all .class_con h3 span{position: absolute;left: 0;top: 40px;font-size: 12px;color: #999;}
.con_desk .contrast_all .student_con{width:auto;height: auto;overflow-x:auto;background: #fff;padding-bottom: 20px;box-shadow: 0px 4px 10px 0px #e5e5e5;}
.con_desk .contrast_all .student_con  h3{font-size: 18px;color: #333333;line-height: 80px;margin: 0 0 -50px 20px;display: inline-block;position: relative;}
.con_desk .contrast_all .student_con h3 span{position: absolute;left: 0;top: 40px;font-size: 12px;color: #999;width: 200px;}
.con_desk .contrast_all .student_con  .bt_cl{position: absolute;right:40px;top:100px;}
.con_desk .sel,.con_desk .bt_cl{width:auto;height: 30px;display:inline-block;font-size:14px;padding-right:38px;text-align:left;background: url("../images/triangle_ico.png") no-repeat right center;border:1px solid #c9c9c9;border-radius:4px;padding-left:6px;position: relative;appearance:none;  -moz-appearance:none;  -webkit-appearance:none;outline: none;}
.con_desk .math_an{height:auto;margin: 30px auto 0;font-size: 20px;text-align: center;line-height:80px;color: #333;border-top: 1px solid #efefef;/*box-shadow: -5px -4px 10px -2px #efefef;*/}
.anxiety{width:auto;height: auto;margin-top: 30px;background: #fff;padding-bottom: 34px;box-shadow: 0px 4px 10px 0px #e5e5e5;margin-left: 400px;}
.anxiety h2{width: auto;padding:30px 0 0 15px;font-size: 18px;margin: 10px;color: #333;}
.anxiety h2 span{display: block;font-size: 12px;color: #ccc;line-height: 30px;margin-top:16px;}
.new_fun{width: 380px;height: 440px;background: #fff;float: left;display: inline-block;margin-top: 30px;margin-bottom: 30px;box-shadow: 0px 4px 10px 0px #e5e5e5;position: absolute;}
 .new_fun h3{text-align: center; font-size: 18px; color:#ccc;line-height:50px;margin-top: 140px;}
.new_fun h5{text-align: center;color: #ccc;font-size: 16px;}
.load{width:100px;height: 100px;position: absolute;left: 50%;top: 50%;margin-left: -50px;margin-top: -50px;}