/* 头部公用 */
#head_bg{width: 100%;height: 104px;background: #333;margin: 0 auto;}
#head_bg .tea_head{width:auto;height:104px;margin: 0 auto;position: relative;}
#head_bg .tea_head .zhi_logo{margin-top: 28px;position: absolute;left: 214px;}
#head_bg .tea_head .zhi_logo1{margin-top: 28px;}
#head_bg .tea_head  ul{width: 564px;height:104px;float:right;margin-right:90px;}
#head_bg .tea_head  ul li{display: inline-block;margin-left:70px;margin-top: 54px;}
#head_bg .tea_head  ul li a{font-size: 18px;color: #999;display: block;line-height: 36px;padding-left:46px;}
#head_bg .tea_head  ul li.console a{background: url("../images/console_ico.png") no-repeat;}
#head_bg .tea_head  ul li.console a.cur{background: url("../images/console_ico_cur.png") no-repeat;color: #fff;}
#head_bg .tea_head  ul li.stu_men a{background: url("../images/stu_ico.png") no-repeat;}
#head_bg .tea_head  ul li.stu_men a.cur{background: url("../images/stu_ico_cur.png") no-repeat;color: #fff;}
#head_bg .tea_head  ul li.per_center a{background: url("../images/rule_ico.png") no-repeat;}
#head_bg .tea_head  ul li.per_center a.cur{background: url("../images/rule_ico_cur.png") no-repeat  -4px -5px;color: #fff;}