/* 个人中心样式*/
body{background:url("../images/bg_line.jpg") repeat-y left top #e6e6e6;}
.gen_setting{width:auto;min-height:780px;position: relative;}
/* 左边列表公共部份 */
.gen_setting .set_list{width: 240px;height: auto;float: left;background: #333;margin-top: -40px;}
.gen_setting .set_list ul li {border-bottom: 1px solid #2c2c2c;line-height: 40px;text-align: center;font-size:16px;}
.gen_setting .set_list ul li a{color: #ccc;display: block}
.gen_setting .set_list ul li.current{background: #2c2c2c;}
.gen_setting .set_list ul li.current a{color: #fff;}

/* 右边主体部份--常规设置 */
.set_cont{background: #fff;margin:40px 30px 0 260px;position: relative;min-width:800px;border:1px solid #ccc;border-radius:8px;}
 .set_cont .info{position: absolute;left: 0;top:-40px;z-index: 9;}
 .set_cont .info  h3{font-size: 14px;color: #666;line-height: 40px;display: inline-block;}
 .set_cont .info span{float: right;width: 94px;height: 40px;line-height: 40px;color: #333;font-size: 16px;background: #ffeb3b;text-align: center;margin: 20px 126px 0 0 ;border-radius: 20px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;}
 .set_cont .info_list{/*width: 100%;*/border-top-left-radius: 4px;padding:60px 0 0 150px;}
 .set_cont .info_list li{height:auto;position: relative;}
 .set_cont .info_list li em{color: #f36c60;display: none;position: absolute;left:60px;top:70px;}
 .set_cont .info_list li span{font-size:16px;color: #333; line-height: 80px;}
 .set_cont .info_list li.bg{}
 .set_cont .info_list li input{width: 460px;line-height:36px;height:36px;background:none;font-size:16px;margin-left:20px;outline: none;border: 1px solid #c9c9c9;border-radius: 4px;padding-left: 6px;transition: .5s;}
 .set_cont .info_list li input.active{/*border-bottom: 2px solid #fdd835;*/}
.set_cont .info_list li input.act{box-shadow:0 0 10px 2px #ddd;}
 .set_cont .info_list li input.err{border-bottom: 1px solid #f36c60;/*background: url("../images/err_ico.png") no-repeat right center;transition: none;*/}
 .set_cont .info_list li .gray{color: #999;}
 .set_cont .info_list li .gray{color: #999;}
 .set_cont .info_list li .man{margin-left:26px;margin-right: 56px;}
 .set_cont .info_list li i{width: 20px;height: 20px;border:1px solid #ccc !important;border-radius: 4px;display:inline-block;vertical-align: middle;margin-right: 10px;margin-top: -2px;cursor: pointer;}
 .set_cont .info_list li i.checked{background: url("../images/check_ico.png") no-repeat center center #ccc; }
 .set_cont .info_list .birthday .year,.info_list .birthday .month,.info_list .birthday .day{/*width: 115px;line-height:36px !important;margin-right:20px;display:inline-block;text-align:left;border-bottom:2px solid #fdd835;background: url("../images/triangle_ico.png") no-repeat right center;display: none;*/}
 .set_cont .info_list .birthday .year{margin-left:20px;position: relative;}
 .set_cont .info_list .birthday .month,.set_cont .info_list .birthday .day{position: relative;}
 .set_cont .info_list .birthday .year_list,.set_cont .info_list .birthday .month_list,.set_cont .info_list .birthday .day_list{position: absolute;left:0;top:44px;width: 100%;background: #fff;box-shadow:2px 2px 10px 0 #ccc;height: 156px;overflow: auto;z-index: 9;display: none;font-size:14px;}
 .set_cont .info_list .birthday .year_list li,.set_cont .info_list .birthday .month_list li,.set_cont .info_list .birthday .day_list li{padding-left:10px;height: 22px;line-height:30px;margin-bottom:8px;cursor: pointer;}
 .set_cont .info_list .birthday .year_list li:hover{color: #fdd835;}
 .set_cont .info_list .birthday .month_list li:hover{color: #fdd835;}
 .set_cont .info_list .birthday .day_list li:hover{color: #fdd835;}
 .set_cont .info_list .birthday select,.info_list .blood .blood_type select{width:auto;height: 36px;display:inline-block;font-size:14px;border:1px solid #c9c9c9;border-radius:4px;padding-left:4px;padding-right:42px;text-align:left;background: url("../images/triangle_ico.png") no-repeat right center;position: relative;appearance:none;  -moz-appearance:none;  -webkit-appearance:none;outline: none;}
.set_cont .info_list .birthday .bir_sty{margin-right:20px;margin-left: 0;}
.set_cont .info_list .birthday strong{color: #999;}
 .set_cont .info_list .birthday{position: relative;}
.set_cont .info_list .birthday .class_text{margin-left:-10px; margin-right: 10px;display: none;}
.set_cont .info_list .birthday .data{width: 120px;}
.set_cont .info_list .birthday span{margin: 0 6px 0 6px;}
 .set_cont .info_list .cons .con_tio{width:260px;line-height:36px !important;margin-left: 80px;margin-right:20px;display:inline-block;text-align:left;border-bottom:2px solid #fdd835;background: url("../images/triangle_ico.png") no-repeat right center;}
 .set_cont .info_list .cons strong{color: #999;}
 .set_cont .info_list .blood strong{color: #999;}
 .set_cont .info_list .cons .con_tio{position: relative;}
 .set_cont .info_list .cons .con_tio .cons_list{position: absolute;width: 100%;background: #fff;height: 160px;box-shadow: 2px 2px 2px 2px #ccc;overflow:auto;margin-top: 10px;z-index: 9;}
 .set_cont .info_list .cons .con_tio .cons_list li{height:40px;text-align: left;padding-left: 10px;cursor: pointer;font-size: 14px;}
 .set_cont .info_list .cons .con_tio .cons_list li:hover{color:#fdd835;}
 .set_cont .info_list .blood .blood_type{position: relative;}
 .set_cont .info_list .blood .blood_type .blood_list{position: absolute;width: 100%;background: #fff;height: 160px;box-shadow: 2px 2px 2px 2px #ccc;overflow:auto;margin-top: 10px;z-index: 9;display:none;}
 .set_cont .info_list .blood .blood_type .blood_list li{height:40px;text-align: left;padding-left: 10px;cursor: pointer;font-size: 14px;}
 .set_cont .info_list .blood .blood_type .blood_list li:hover{color:#fdd835;}
.set_cont .info_list .blood .sch_type{margin-left: 20px;padding-right: 100px;}
.set_cont .save_btn{width: 120px;height:36px;background: #43adee;line-height:36px;text-align: center;color:#fff;font-size: 16px;border-radius:6px;margin:38px 10px 50px 350px;cursor: pointer;box-shadow: 2px 2px 3px 0px #ccc;display: none;}
.set_cont  .save_btn .save{display: block;}


/* 右边主体部份--学校信息 */
.school_mes .add_class_mes{width: 56px;height: 28px ;line-height: 26px !important;color: #333;font-size: 14px !important;background: #c8c8c8;vertical-align:middle;text-align: center;border-radius:6px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;display: none;margin-left: 170px;margin-top: 20px;}
.school_mes .info_list li input.address{margin-left:60px;display: none;}
.school_mes .info_list li strong.col{color: #333;}
.school_mes .save_btn{display: none;}
.school_mes .school_all{position: relative;}
/* 学校地区选择 */
.school_mes .school_all .school_sel{width:460px;height: 200px;border: 1px solid #ccc;position: absolute;bottom:-208px;left:62px;overflow:auto;background: #fff;z-index: 9;border-top:0;box-shadow: 0px 3px 4px #f5f5f5,1px 0px 4px #ccc;padding-bottom: 20px;display: none;}
.school_mes .school_all .school_sel_hi{height: 200px;overflow: auto;}
.school_mes .school_all .school_sel ol {width:100%;margin: 0 auto; height:auto;padding-bottom: 20px;}
.school_mes .school_all .school_sel ol  li{width:47%; font-size: 12px;color: #666;background: url(http://img1.kaixin001.com.cn/i/dot.gif) left no-repeat;margin-top: 24px;float: left;padding-left: 0;margin-left: 10px;}
.school_mes .school_all .school_sel ol  li a{color: #666;text-align: center;margin-left: 10px;}
.school_mes .school_all .school_sel ol  li a:hover{color: #e6b800;}
.school_mes .school_all .other_school{width: 460px;background: #fff;box-shadow: 0px 2px 2px 1px #ccc;padding-top:10px;position:absolute;left:63px;bottom: -258px;height: 40px;display: none;z-index: 9}
.school_mes .school_all .other_school span{color: #666;margin-left: 20px;line-height: 40px;font-size: 14px;}
.school_mes .school_all .other_school input{color: #666;width: 180px;border: 1px solid #ccc;padding-left: 6px;line-height: 0;margin: 8px 0 0 0;}
.school_mes .school_all .other_school .close_box{color: #afaaaa;position: absolute;bottom: 10px;right: 20px;font-size: 14px;cursor: pointer;}
.school_mes .school_all .other_school .close_box:hover{color:#666;}

/* 右边主体部份--安全隐私 */
.privacy .bound_phone{display: inline-block;margin-left:34px;}
.privacy .bound_phone .ph_sty{color: #999;font-size: 20px;}
.privacy .bound_phone .password_sty{color: #999;font-size: 14px;position: absolute;line-height: 0;}
.privacy .bound_phone .go_bound{width: 94px;height: 40px;line-height: 40px;color: #333;font-size: 16px;background: #ffeb3b;text-align: center;display:inline-block;border-radius: 20px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;margin-left: 160px;}
.privacy .info_list li{display: none;}
.privacy .info_list .bo_phone{position: relative;display: block;}
.privacy .info_list .check_err{margin-left:20px;}
.privacy .info_list .st{width: 264px;margin-right:26px;}
.privacy .info_list .em_sty{right: 260px;bottom:4px;}
.privacy .info_list .img_sty{display: inline-block;vertical-align: middle;}
.privacy .code .gray{background: #ccc;}
.privacy .bind_btn{width: 94px;height: 30px;line-height:30px;color: #333;font-size: 16px;background: #c8c8c8;text-align: center;margin: 20px 126px 0 0 ;border-radius: 6px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;display: inline-block;}
.privacy .info_list li em{left:90px;}
#cmpic{width: 100px;vertical-align: middle;margin-top: -8px;}
/*滚动条样式*/
::-webkit-scrollbar{background:none;width:12px;padding: 2px;}
::-webkit-scrollbar-thumb{ background: #fff59d;margin: 2px;width: 10px;border-radius: 4px;}
::-webkit-scrollbar-corner {background: #abc;width:12px;}
::-webkit-scrollbar-track-piece{margin:6px;}
