/* 注册-登录页 */
body{background: url("../images/login_bg.png") no-repeat top center;position: relative;left: 0;top: 0;background-size: 100%;}
.reg_sty{position:absolute;right:0;top:0;margin-top: 60px;z-index: 0;}
.reg_sty span{width: 65px;height: 24px;display: inline-block;text-align: center;line-height: 24px;}
.reg_sty span.border_right{border-right: 1px solid #fff;}
.reg_sty span a{font-size: 18px;color:#fff;}
.reg_sty span a.cur{font-weight: bold;}

.reg_cont{width:664px;height:auto;background: #fff;margin:32px auto;}
.reg_cont .reg_list{width:50%;height: auto;margin: 0 auto;text-align: center;}
.reg_cont .reg_list li{position: relative;}
.reg_cont .reg_list  li .err{/*border-bottom: 2px solid #e51c23;background: url("../images/err_ico.png") no-repeat right center;*/}
.reg_cont .reg_list  li  .err_mes{position: absolute;right: 90px;color: #dfb71b;bottom:-4px;font-size: 12px;display: none;}
.reg_cont .reg_list  li input{transition: .5s;background: transparent;line-height: 38px \0;}
.reg_cont .reg_list  li input.act{box-shadow: 0px 0px 10px 2px #ddd;}
.reg_cont .reg_list>li {width:auto;height: 60px;margin-bottom: 30px;font-size:20px;}

.reg_cont .reg_list>li input{width:300px;height: 36px;border: none;outline: none;background: none;font-size: 20px;margin-top: 10px;}
.reg_cont .reg_list .blood_type{width:302px;height: 36px;margin-right:20px;display:inline-block;text-align:left;border-bottom:2px solid #fdd835;background: url("../images/triangle_ico.png") no-repeat right center;position: relative;}
.reg_cont .reg_list .blood_type  .cons_set{color: #999;position: absolute;left: 0;top: 0px;width:100%;height: 100%;border: none;font-size:18px;background: none;appearance:none;  -moz-appearance:none;  -webkit-appearance:none;outline: none;}
.reg_cont .reg_list .blood_type  .add_class{width: 100%;height: auto;position: absolute;left: 0;top:42px;background: #fff;box-shadow: 2px 2px 2px 2px #ccc;display: none;z-index: 9}
.reg_cont .reg_list .blood_type .add_class li{width: 100%;height: 36px;font-size: 12px;margin-left: 10px;line-height: 36px;cursor: pointer;}
.reg_cont .reg_list .blood_type .add_class li:hover{color: #FDD835;}
.reg_cont .reg_list .cla{width:150px;display: inline-block;}
.reg_cont .reg_list .cla  .cla_class{width: 100%;height: auto;position: absolute;left: 0;top:42px;background: #fff;box-shadow: 2px 2px 2px 2px #ccc;display: none;}
.reg_cont .reg_list .cla .cla_class li{width: 100%;height: 36px;font-size: 12px;margin-left: 10px;line-height: 36px;cursor: pointer;}
.reg_cont .reg_list .cla .cla_class li:hover{color:#FDD835;}
.reg_cont .reg_list .cla strong{text-align: center;line-height: 30px;}
.reg_cont .reg_list .location{position: relative;}
.reg_cont .reg_list .location em{line-height: 42px;}
.reg_cont .reg_list .location .add_class_btn{width: 94px;height: 40px ;line-height:40px;color: #333;font-size: 16px ;background: #ffeb3b;vertical-align:middle;position:absolute;right:-178px;z-index:9;top:0;text-align: center;border-radius: 20px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;display: inline-block;}
.reg_cont .reg_btn{width: 200px;height: 38px;background: #ffeb3b;line-height: 38px;text-align: center;color:#333;font-size: 16px;border-radius: 10px;margin: 38px auto 50px;cursor: pointer;box-shadow: 2px 2px 3px 0px #ccc;display: block;}

.reg_new{border:1px solid #ccc;border-radius: 6px;}
.reg_new .reg_list li span{width:66px;float: left;line-height:50px;font-size: 16px;color: #333;text-align: right;}
.reg_new h3{text-align: center;font-size: 20px;color: #333;margin: 30px auto 20px; }
.reg_new .reg_list{width: 430px;}
.reg_new .reg_list li {width:auto;height: 60px;margin-bottom:0;font-size:20px;}
.reg_new .reg_list li input{width:300px;height: 34px;border: 1px solid #ccc;outline: none;background: none;font-size: 16px;margin-top: 10px;border-radius: 6px;padding-left: 10px;padding-right: 10px;}
.reg_new .reg_list  li  .err_mes{right: 34px;}
.reg_new .reg_btn{border-radius: 6px;margin-top:40px;width:320px;color: #fff;background: #47afee;box-shadow: none;}

.log_cont {height: 518px;width:1000px;background:none;}
.log_cont h3{font-size:36px;color: #fff;text-align: center;margin-bottom: 30px;line-height: 56px;}
.log_cont .reg_list li{position: relative;display: inline-block;text-align: center;}
.log_cont .reg_list li input{width: 300px;background:transparent;color: #fff;border: 1px solid #fff;border-radius: 6px;font-size: 14px;padding-left: 10px;padding-right: 10px;transition: .5s;line-height: 40px \0;}
.log_cont .reg_list li .fos{box-shadow: 0px 0px 12px 0px #fff;}
.log_cont .reg_list>li{margin-bottom: 20px;}
.log_cont .reg_list .pass_sty .for_password{position:absolute;right:0;bottom: -50px;text-decoration:underline;font-size: 14px;color: #fff;}
.log_cont .reg_list  li .err{/*border-bottom: 2px solid #e51c23;background: url("../images/err_ico.png") no-repeat right center;*/}
.log_cont .reg_list  li  .err_mes{position: absolute;right:0px;color:#dfb71b;bottom:-12px;font-size: 12px;display: none;}
.log_cont .re_me{margin-top:14px;margin-left:340px;}
.log_cont .reg_btn {border-radius: 6px;margin-top:70px;width:320px;color: #fff;background: #47afee;box-shadow: none;}
.log_cont .re_me i{width:15px;height: 15px;border-radius:2px;border: 1px solid #fff;display: inline-block;vertical-align: middle;margin-right: 10px;cursor: pointer;}
.log_cont .re_me i.checked{background: url("../images/check_ico.png") no-repeat center center; }
.log_cont .re_me span{font-size: 14px;color: #fff;display: inline-block;vertical-align: middle;}