.stu_manage{ width:1100px;height:auto;margin: 30px auto 0;}
 .left_stu{width:1100px;height:818px;background: #fff;border: 1px solid #efefef;margin-inside: 6px;float: left;margin-bottom: 14px;display: none;}
 .left_stu .class_tit{width: 1100px;height: 80px;border-bottom: 1px solid #f0eed9;display: none;}
 .left_stu .class_tit h3{font-size: 24px;color: #666;line-height: 80px;margin-left: 30px;display: inline-block;}
 .left_stu .class_tit div{float: right;margin: 38px 30px 0 0 ;color: #666;}
 .left_stu .class_tit div em{color: #f57f17;}
 .left_stu .stu_list{width:1100px;height:auto;}
 .left_stu .stu_list li{ height:80px;width: 548px;display:block;border-bottom: 1px solid #eee;  float: left;}
 .left_stu .stu_list li .stu_name{width:auto;height: 80px;display: inline-block;line-height: 80px;}
 .left_stu .stu_list li .stu_ico{width:160px;height:80px;float:right;position: relative;border-left: 1px solid #eee;}
.left_stu .stu_list li .stu_ico a{width:80px;height:80px;line-height: 80px;color: #333;font-size: 16px;/*background: url("../images/look_ico.png") no-repeat center;*/float:left;vertical-align: middle;text-decoration: underline;text-align: center;}
 .left_stu .stu_list li .stu_ico .remove{line-height: 80px; cursor: pointer;}
 .left_stu .stu_list li i{width: 20px;height: 20px;border:2px solid #ccc;border-radius: 4px;display:inline-block;vertical-align: middle;cursor: pointer;margin: 20px;}
 .left_stu .stu_list li i.checked{background: url("../images/check_ico.png") no-repeat center center #ccc; }
 .left_stu .stu_list li span{font-size: 20px;color: #333;text-align:center;width:60px;display: inline-block;border-left: 1px solid #eee;border-right: 1px solid #eee;}
 .left_stu .stu_list li em{font-size: 18px;color: #333;display: inline-block;margin: 0 auto;width: 240px;text-align: center;font-weight: normal;}
 .left_stu .remove_sel{width: 1100px;height:auto;padding-top:30px;clear: both;}
 .left_stu .remove_sel .le_remove_btn,.stu_manage .right_stu .remove_sel .ri_remove_btn{float: left;margin-left:50px;width: 94px;height: 40px;line-height: 40px;color: #fff;font-size: 16px;background:#54b3eb;text-align: center;border-radius: 8px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;}
 .left_stu .remove_sel .page_list{float: right;margin-right: 60px;line-height: 40px;}
 .left_stu .remove_sel .page_list .active{color:#43adee;}
.left_stu .remove_sel .page_list em{cursor: pointer;}
 .left_stu .remove_sel .page_list span{cursor: pointer;}
.left_stu .remove_sel .page_list .current{color: #ffeb3b;}
 .left_stu .remove_sel .add_btn{float: left;margin-left:18px;width: 120px;height: 40px;line-height: 40px;color: #fff;font-size: 16px;background: #54b3eb;text-align: center;border-radius:6px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;}


.stu_manage .right_stu{width: 480px;height:818px;background: #fff;float: left;overflow: hidden;}
.stu_manage .right_stu .class_tit{width: 480px;height: 80px;border-bottom: 1px solid #f0eed9;}
.stu_manage .right_stu .class_tit h3{font-size: 24px;color: #666;line-height: 80px;margin-left: 30px;display: inline-block;}
.stu_manage .right_stu .class_tit div{float: right;margin: 38px 30px 0 0 ;color: #666;}
.stu_manage .right_stu .class_tit div em{color: #f57f17;}
.stu_manage .right_stu .stu_list{width: 480px;height:auto;}
.stu_manage .right_stu .stu_list li{ height:80px;padding-left: 46px;}
.stu_manage .right_stu .stu_list li:nth-child(odd){background: #fffde7;}
.stu_manage .right_stu .stu_list li .stu_name{width:250px;height: 80px;display: inline-block;line-height: 80px;}
.stu_manage .right_stu .stu_list li .stu_ico{width:160px;height:80px;float:right;position: relative;}
.stu_manage .right_stu .stu_list li .stu_ico a{width: 54px;height:80px;background: url("../images/look_ico.png") no-repeat center;display: inline-block;vertical-align: middle;}
.stu_manage .right_stu .stu_list li .stu_ico .remove{line-height: 80px;position: absolute;right: 38px;top:20px; cursor: pointer;}
.stu_manage .right_stu .stu_list li i{width: 20px;height: 20px;border:2px solid #fdd835;border-radius: 4px;display:inline-block;vertical-align: middle;margin-top:-4px;cursor: pointer;}
.stu_manage .right_stu .stu_list li i.checked{background: url("../images/check_ico.png") no-repeat center center #fdd835; }
.stu_manage .right_stu .stu_list li span{font-size: 20px;color: #333;margin:  auto 20px;}
.stu_manage .right_stu .stu_list li strong{font-size: 20px;color: #333;}
.stu_manage .right_stu .remove_sel{width: 480px;height:auto;padding-top:30px;clear: both;}
.stu_manage .right_stu .remove_sel .add_btn{float: left;margin-left:18px;width: 94px;height: 40px;line-height: 40px;color: #333;font-size: 16px;background: #ffeb3b;text-align: center;border-radius: 20px;box-shadow: 6px 3px 12px -6px #ccc;cursor: pointer;}
.stu_manage .right_stu .remove_sel .page_list{float: right;margin-right: 60px;line-height: 40px;}
.stu_manage .right_stu .remove_sel .page_list span{cursor: pointer;}
.stu_manage .right_stu .remove_sel .page_list .current{color: #ffeb3b;}
.stu_manage .right_stu .remove_sel .page_list .active{color: #F57F17;}
.stu_manage .right_stu{width: 48%;height:818px;background: #fff;float: left;}
.stu_manage .table_tit{width: 1100px;border-bottom: 1px solid #eee;font-size: 14px;height: 80px;}
.stu_manage .table_tit li.checked{width: 71px;}
.stu_manage .table_tit li.num{width: 60px;}
.stu_manage .table_tit li.name{width: 254px;}
.stu_manage .table_tit li.act{width: 160px;}
.stu_manage .table_tit li{display:block;width:80px;height:80px;line-height:80px;text-align: center;border-left: 1px solid #eee;float: left;font-size: 16px;}
.stu_manage .table_tit .checked{border-left: 4px solid #ddd;}
.stu_manage .class_list{width: 1102px;height: 64px;background: #f5f5f5;display: table;}
.stu_manage .class_list li{display: table-cell;text-align: center;line-height: 64px;font-size: 16px;color: #333;cursor: pointer;}
.stu_manage .class_list li span{width: 12px;height: 12px;display:inline-block;border-radius:6px;margin-right: 4px;}
.stu_manage .class_list li.active{font-weight: bold;}
.stu_manage .class_list li.active span{background: #4bb4f0;}
/*学生管理弹框显示*/
.cont_sty .zs_test{text-align: center;font-size: 20px;line-height: 20px;margin: 30px auto 10px;color:#646464;}
#chapterSelect{float: right;z-index: 99;position: absolute;right:44px;width:auto;height: 36px;display:inline-block;font-size:14px;padding-right:30px;text-align:left;background: url("../images/triangle_ico.png") no-repeat right center;border:1px solid #c9c9c9;appearance:none;  -moz-appearance:none;  -webkit-appearance:none;outline: none;border-radius: 4px;padding-left: 6px;}
.chart-content{}
#pointexamSelect{float: right;margin: 0 20px 0 0;z-index: 99;position: absolute;right:24px;width:auto;height: 36px;display:inline-block;font-size:14px;padding-right:30px;text-align:left;background: url("../images/triangle_ico.png") no-repeat right center;border:1px solid #c9c9c9;appearance:none;  -moz-appearance:none;  -webkit-appearance:none;outline: none;border-radius: 4px;padding-left: 6px;}
.cont_sty h1{text-align: center;position: absolute;left: 18px;top: 22px;font-size: 18px;}
.cont_sty h1 span{font-size: 14px;margin-right: -10px;}
.horizontal_line{border-bottom: 1px dashed #ccc;width: 94%;text-align: center;margin: 30px auto 0;}
