<link type="text/css" href="/css/reset.css" rel="stylesheet" >
<link type="text/css" href="/css/header.css" rel="stylesheet" >
<link type="text/css" href="/css/stu_manage.css" rel="stylesheet" >
<link type="text/css" href="/css/common.css" rel="stylesheet" >
<!-- 内容-->
<div class="stu_manage">
    <ul class="class_list" style="text-align: center;line-height: 64px;">
        暂无数据
    </ul>
    <% if(result && result.length>0){%>
        <% result.forEach(function(item){%>
            <div class="left_stu" id="<%=item.grade_id%><%=item.class_num%>">
                <div class="class_tit">
                    <h3><%= item.grade_name || ''%><%= item.class_num && item.class_num.indexOf('班')>0 ? item.class_num :item.class_num+'班' || ''%></h3>
                </div>
                <ol class="table_tit">
                    <li class="checked" style="border: none;">选取</li>
                    <li class="num">编号</li>
                     <li class="name">姓名</li>
                    <li class="act">操作</li>
                    <li class="checked">选取</li>
                    <li class="num">编号</li>
                    <li  class="name">姓名</li>
                    <li class="act">操作</li>
                </ol>
                <%if(item.page_list && item.page_list.list && item.page_list.list.length>0){%>
                    <ul class="stu_list">
                        <% item.page_list.list.forEach(function(list_item,index){%>
                            <li>
                                <div class="stu_name">
                                    <i onclick="check(this)" data-userid="<%= list_item.user_id%>" data-studentid="<%= list_item.student_id%>" data-gradeid="<%=item.grade_id%>" data-classNum ="<%= item.class_num%>"></i>
                                    <span><%= (item.page_list.page -1)*item.page_list.pageSize +(index+1)%></span>
                                    <em>
                                        <%if(list_item.student_name){%>
                                            <%= list_item.student_name%>
                                        <%}else{%>
                                            <%= list_item.username%>
                                        <%}%>
                                    </em>
                                </div>
                                <div class="stu_ico">
                                    <a href="javascript:;" onclick="learn_sate('<%=list_item.user_id%>')" class="yan">查看</a>
                                    <a onclick="remove_student(this)"  class="remove left_remove">删除</a>
                                </div>
                            </li>
                        <%})%>
                    </ul>
                    <div class="remove_sel">
                        <span class="le_remove_btn" onclick="le_remove_btn(this)">移出</span>
                        <span class="add_btn" id="add_btn_alert" data-gradeid="<%=item.grade_id%>" data-classNum="<%= item.class_num%>" onclick="add_btn_alert(this)">添加本班学生</span>
                        <% if(item.page_list && item.page_list.total_page>0){%>
                            <div class="page_list">
                                <span style="margin-right: 20px;color: #333;">系统人数:<em style="color:#43adee;"><%= item.page_list && item.page_list.totalcount || '0'%></em></span>
                                <% for(var i=1;i<=item.page_list.total_page;i++){%>
                                    <% if(item.page_list.page == 1){%>
                                        <span><img src="/images/page_left.png" onclick="next('<%= item.link%>&page=1',this)"/> </span>
                                    <%}else{%>
                                        <span><img src="/images/page_left.png" onclick="next('<%= item.link%>&page=<%= item.page_list.page-1%>',this)"/> </span>
                                    <%}%>
                                        <% if(item.page_list.total_page<=10){ %>
                                            <% for(var i=1; i<= item.page_list.total_page;i++){%>
                                                <% if(item.page_list.page == i){%>
                                                    <em class="active" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                <%}else{%>
                                                    <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                <%}%>
                                            <% }%>
                                        <%} else{%>
                                            <%if(item.page_list.page<=5){%>
                                                <% for(var i=1; i<=10;i++){%>
                                                    <% if(item.page_list.page == i){%>
                                                        <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                    <%}else{%>
                                                        <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                    <%}%>
                                                <% }%>
                                            <%} else{%>
                                                <% for(var i=item.page_list.page-4; i<=item.page_list.page-1;i++){%>
                                                    <% if(item.page_list.page == i){%>
                                                        <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                    <%}else{%>
                                                        <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                    <%}%>
                                                <% }%>
                                                <% var rightItemPageNumber = (item.page_list.page+5)>item.page_list.total_page?item.page_list.total_page:(item.page_list.page+5)%>
                                                    <% for(var i=item.page_list.page; i<=rightItemPageNumber;i++){%>
                                                        <% if(item.page_list.page == i){%>
                                                            <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                        <%}else{%>
                                                            <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                                        <%}%>
                                                    <% }%>
                                                <%}%>
                                            <%}%>
                                            <% if(item.page_list && item.page_list.page != item.page_list.total_page){%>
                                                <span><img src="/images/page_right.png" onclick="next('<%= item.link%>&page=<%= parseInt(item.page_list.page) + 1%>',this)"/> </span>
                                            <%}else{%>
                                                <span><img src="/images/page_right.png" onclick="next('<%= item.link%>&page=<%= item.page_list.total_page%>',this)"/> </span>
                                            <%}%>
                                        <%}%>
                                </div>
                        <%}%>
                    </div>
                <%}else{%>
                  <p style="text-align: center;margin-top: 20px;"> 暂无数据</p>
                    <div class="remove_sel">
                        <span class="le_remove_btn" onclick="le_remove_btn(this)">移出</span>
                        <span class="add_btn" id="add_btn_alert" data-gradeid="<%=item.grade_id%>" onclick="add_btn_alert(this)" data-classNum="<%= item.class_num%>">添加本班学生</span>
                    </div>
               <%}%>
    </div>
        <%})%>
    <%}%>
</div>
<!-- 遮罩弹框 -->
<div class="shade" ></div>
<!-- 添加学生-->
<div class="shade_input add_stu">
    <h3>请选择要添加的学生</h3>
    <div id="student_list">

    </div>
    <!--<span class="cur">王小强</span>-->
    <!--<span>大小王</span>-->
    <!--<span>文子子</span>-->
    <div class="add_btn" id="save_student">添加</div>
</div>
<!--成功移出/成功添加 -->
<div  class="shade_input suc_shade">
    <div class="suc"></div>
    <p>已经“杰瑞”从管理列表中移除</p>
</div>


<!--正在移除/正在添加 -->
<div  class="shade_input loading_sh" >
    <div class="suc"></div>
    <p>正在移除“杰瑞”……</p>
</div>

<!--确认移除/确认添加 -->
<div  class="shade_input confirm_add" >
    <p>确定将“杰瑞”从列表中移除？</p>
    <div class="sel_btn">
        <span class="confirm_btn">确定</span>
        <span class="cancel_btn">取消</span>
    </div>
</div>
<!-- 查看详情 -->
<div class="shade_look" style="display: none;">

</div>
<% include ../../../views/loading.html %>
<script>
    function next(url,o){
        $('.loadingBox').show();
        $.ajax({
            type: "GET",
            url: "http://" + location.host + url,
            success: function (msg) {
                $(".loadingBox").hide();
                if($(o).parent().parent().parent().parent().attr('class') == 'left_stu'){
                    $(o).parent().parent().parent().parent().html(msg)
                }else{
                    $(o).parent().parent().parent().html(msg)
                }
                oddRight(true);
            }
        });
    }

    function remove_student(o) {
        var _this = $(o).parent().siblings('.stu_name').find('i');
        if (_this.hasClass('checked')) {
            $(o).parent().parent().remove();
         //   Libgcolor();
        } else {
            var del = window.confirm("确定移除吗?");
            if (del == true) {

                var list = [];
                var student_id = $(o).parent().siblings('.stu_name').find('i').attr('data-studentid');
                var user_id = $(o).parent().siblings('.stu_name').find('i').attr('data-userid');
                var grade_id = $(o).parent().siblings('.stu_name').find('i').attr('data-gradeid');
                var class_num = $(o).parent().siblings('.stu_name').find('i').attr('data-classnum');
                if (student_id && user_id) {
                    var json = {
                        student_id: student_id,
                        user_id: user_id,
                        class_num:class_num
                    };
                    list.push(json);
                }
                var then = o;
                $('.loadingBox').show();
                if (list.length > 0) {
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "http://" + location.host + "/admin/student/del_student",
                        data: {
                            list: JSON.stringify(list),
                            grade_id: grade_id,
                        },
                        success: function (msg) {
                            $('.loadingBox').hide();
                            if (msg) {
                                if (msg.err == 10) {
                                    shake_box("会话已过期,请重新登录");
                                } else if (msg.err == 0) {
                                    $(then).parent().parent().remove();
                                    shake_box("操作成功");
                                } else {
                                    shake_box("操作失败,请稍后再试");
                                }
                            } else {
                                shake_box("操作失败,请稍后再试");
                            }
                        },
                        dataType: "json"
                    });
                }
            } else {
                return true;
            }
         //   Libgcolor();
            oddRight();
        }
    }

    function le_remove_btn(o){
        select('.left_stu .stu_list i',o);
       // Libgcolor();
    }
    function check(o){
        if ($(o).hasClass('checked')) {
            $(o).removeClass('checked');
        } else {
            $(o).addClass('checked');
        }
    }

        /* 移出学生---勾选后 */
    function Remove(stu,o) {
        var sel_i = $(stu);
        var list = [];
        var grade_id;
        sel_i.each(function (index) {
            if (sel_i.eq(index).hasClass('checked')) {
                var student_id = $(this).attr('data-studentid');
                var user_id = $(this).attr('data-userid');
                grade_id = $(this).attr('data-gradeid');
                var class_num = $(this).attr('data-classnum');
                if (student_id && user_id) {
                    var json = {
                        student_id: student_id,
                        user_id: user_id,
                        class_num:class_num
                    };
                    list.push(json);
                }
            }
        });

        if (list.length > 0) {
            $('.loadingBox').show();
            $.ajax({
                type: "POST",
                async: false,
                url: "http://" + location.host + "/admin/student/del_student",
                data: {
                    list: JSON.stringify(list),
                    grade_id: grade_id
                },
                success: function (msg) {
                    $('.loadingBox').hide();
                    if (msg) {
                        if (msg.err == 10) {
                            shake_box("会话已过期,请重新登录");
                        } else if (msg.err == 0) {
                            sel_i.each(function (index) {
                                if (sel_i.eq(index).hasClass('checked')) {
                                    sel_i.eq(index).parent().parent().remove();
                                }
                            });
                            shake_box("操作成功");
                        } else {
                            shake_box("操作失败,请稍后再试");
                        }
                    } else {
                        shake_box("操作失败,请稍后再试");
                    }
                },
                dataType: "json"
            });
            oddRight();
        }
    };

    function select(btn,o) {
        if ($(btn).hasClass('checked')) {
            Remove(btn,o);
        } else {
            shake_box('请至少选择一名学生');
            return false;
        }
    }

    $('.ri_remove_btn').click(function () {
        select('.right_stu .stu_list i');
    });

//    /* Li背景色 */
//    function Libgcolor() {
//        if (true) {
//            $('.left_stu .stu_list li:even').css('border-right', '4px solid #ddd');
//         //   $('.left_stu .stu_list li:odd').css('background', '#fff');
//        } else {
//            $('.right_stu .stu_list li:even').css('background', '#fffde7');
//         //   $('.right_stu .stu_list li:odd').css('background', '#fff');
//        }
//    }
//    Libgcolor(true);

    function choice_student(o){
        $(o).addClass('cur');
        $(o).siblings().removeClass('cur');
    }
    
    $('#save_student').click(function () {
        var student_id = $(this).siblings('#student_list').find('.cur').attr('data-studentid');
        var user_id = $(this).siblings('#student_list').find('.cur').attr('data-userid');
        var grade_id = $(this).siblings('#student_list').find('.cur').attr('data-gradeid');
        var class_num = $(this).siblings('#student_list').find('.cur').attr('data-classnum');
        $('.loadingBox').show();
        $.ajax({
            type: "POST",
            async: false,
            url: "http://" + location.host + "/admin/student/save_student",
            data: {
                student_id: student_id,
                user_id: user_id,
                grade_id: grade_id,
                class_num:class_num
            },
            success: function (msg) {
                $('.loadingBox').hide();
                if (msg) {
                    if (msg.err == 10) {
                        shake_box("会话已过期,请重新登录");
                    } else if (msg.err == 0) {
                        $('.shade').hide();
                        $('.add_stu').hide();
                        shake_box("操作成功,请刷新页面");
                    } else {
                        shake_box("操作失败,请稍后再试");
                    }
                } else {
                    shake_box("操作失败,请稍后再试");
                }
            },
            dataType: "json"
        });
    });

    $('.shade').click(function(){
        $('.shade').fadeOut();
        $('.shade_look').fadeOut();
    });

    function learn_sate(user_id){
        $('.loadingBox').show();
        $.ajax({
            type: "GET",
            async: false,
            url: "http://" + location.host + "/admin/student/learn_state",
            data: {
                user_id: user_id,
            },
            success: function (msg) {

                $('.shade_look').html(msg);
                $('.shade_look').css({'margin-left':-$('.shade_look').width()/2,'margin-top':-$('.shade_look').height()/2});
                $('.shade').fadeIn();
                $('.shade_look').fadeIn();
                $('.shade').css('width',$(document).width());
                $('.shade').css('height',$(document).height());
                $('.loadingBox').hide();
            },
        });
    }

    function add_btn_alert(o){
        var grade_id = $(o).attr('data-gradeid');
        var class_num = $(o).attr('data-classNum');
        if(grade_id && class_num){
            $('.loadingBox').show();
            $.ajax({
                type: "POST",
                async: false,
                url: "http://" + location.host + "/admin/student/GetStudent",
                data: {
                    grade_id:grade_id,
                    class_num:class_num
                },
                success: function (msg) {
                    $('.loadingBox').hide();
                    if (msg && msg.err == 0 && msg.result.length > 0) {
                        var html = "";
                        for (var i = 0; i < msg.result.length; i++) {
                            if(msg.result[i].student_name){
                                html += "<span  data-classNum='"+msg.result[i].class_num+"' data-gradeid='"+msg.result[i].grade_id+"' data-studentid='"+msg.result[i].student_id+"' data-userid='"+msg.result[i].user_id+"' onclick='choice_student(this)'>"+msg.result[i].student_name+"</span>";
                            }else{
                                html += "<span  data-classNum='"+msg.result[i].class_num+"' data-gradeid='"+msg.result[i].grade_id+"' data-studentid='"+msg.result[i].student_id+"' data-userid='"+msg.result[i].user_id+"' onclick='choice_student(this)'>"+msg.result[i].username+"</span>";
                            }
                        }
                        $("#student_list").html(html);
                        $('.shade').fadeIn();
                        $('.add_stu').fadeIn();
                        $('.shade').css('width', $(document).width());
                        $('.shade').css('height', $(document).height());
                    }else{
                        shake_box('暂无数据');
                    }
                },
                dataType: "json"
            });
        }
    };

    $('.shade').click(function () {
        $('.shade').fadeOut();
        $('.shade_input').fadeOut();
    });


    var arr=[];
    var li='';
    $('.class_tit').each(function(i){
      li+='<li><span></span></li>';
        $('.class_list').html(li);
       arr.push($('.class_tit').eq(i).find('h3').html());
    });
    $('.class_list li').each(function(i){
        $('.class_list li').eq(i).find('span').after(arr[i]);
        $('.class_list li').eq(0).addClass('active');
    })
   $('.left_stu').eq(0).show();

   // $('.left_stu .stu_list li:even').css('border-right','4px solid #ddd');

    $('.class_list li').on('click',function(){
       var _index= $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $('.left_stu').hide();
        $('.left_stu').eq(_index).show();
        oddRight();
    });
 $('.page_list img').on('click',function(){
     $('.left_stu .stu_list li:even').css('border-right','4px solid #ddd');
 });
    function  oddRight(a){
         if(a){
             $('.left_stu .stu_list li').find('span').each(function(i){
                 if(Number( $('.left_stu .stu_list li').find('span').eq(i).html())%2!=0){
                     $(this).parent().parent().css('border-right','4px solid #ddd');
                 };
             });
         }else{
             $('.class_list li').each(function(i){
                 if($('.class_list li').eq(i).hasClass('active')){
                     $('.left_stu .stu_list li').css('border-right','none');
                     $('.left_stu').eq(i).find('.stu_list li:even').css('border-right','4px solid #ddd');
                 }
             });
         }
    }
    oddRight(true);
</script>