<div class="content cont_sty">
    <h1><span>学生姓名：</span>
        <% if(practiceinfo && practiceinfo.userinfo && practiceinfo.userinfo.result && practiceinfo.userinfo.result[0] && practiceinfo.userinfo.result[0].student_name){%>
            <%= practiceinfo.userinfo.result[0].student_name || ''%>
        <%}else{%>
            <%= practiceinfo.userinfo.result[0].username || ''%>
        <%}%>
    </h1>
    <div class="zs_test">知识掌握图谱</div>
    <div class="message"></div>
    <p class="text-center"><span class="icon_title_klg_chart icon"></span></p>
    <div class="chart-box">
        <div class="filter-box sl_sty drawingOuter pull-right">
            <div class="drawingRight">
                <select id="chapterSelect" name="chapterSelect">
                    <option value="0">全部章</option>
                    <%if(practiceinfo.chap){%>
                    <% practiceinfo.chap.forEach(function(item){%>
                    <option value="<%=item.point_id%>"><%=item.point_name%></option>
                    <%})%>
                    <%}%>
                </select>
            </div>
        </div>
        <div class="chart-content">
            <div  id="pointchart" style="width: 650px; height: 250px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;"></div>
        </div>
    </div>

    <div class="horizontal_line"></div>
    <div class="zs_test zhun_sty">单项知识掌握准确率</div>

    <p class="text-center margintop30"><span class="icon_title_klgPrgrs_chart icon"></span></p>
    <div class="chart-box">
        <div class="filter-box drawingOuter pull-right">
            <div class="drawingRight">
                <select id="pointexamSelect"  class="" name="pointexamSelect">
                    <% if(practiceinfo.chappointArray){%>
                    <% practiceinfo.chappointArray.forEach(function(examitem){%>
                    <option value="<%=examitem.point_id%>"><%=examitem.point_name%></option>
                    <%})%>
                    <%}%>
                </select>
            </div>
        </div>
        <div class="chart-content">
            <div  id="pointexamchart" style="width: 650px; height: 250px; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; position: relative; background-color: transparent;"></div>
        </div>
        <!--<a href="javascript:void(0)"  class="star_pic"></a>-->
    </div>
</div>
<input type="hidden" id="learn_state_user_id" value="<%= practiceinfo && practiceinfo.user_id%>">
<div class="contentBox-bottom"></div>
<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/echarts/echarts.js"></script>
<script type="text/javascript" src="/views/initpersonalecharts.js"></script>
<script type="text/javascript" src="/views/personalpointexamcharts.js"></script>



