<ol class="table_tit">
    <li class="checked" style="border: none;">选取</li>
    <li class="num">编号</li>
    <li class="name">姓名</li>
    <li class="act">操作</li>
    <li class="checked" >选取</li>
    <li class="num">编号</li>
    <li class="name">姓名</li>
    <li class="act">操作</li>
</ol>
<% if(result && result.length>0){%>
    <% result.forEach(function(item){%>
        <div class="class_tit">
            <h3><%= item.grade_name || ''%><%= item.class_num && item.class_num.indexOf('班')>0 ? item.class_num :item.class_num+'班' || ''%></h3>
        </div>
        <%if(item.page_list && item.page_list.list && item.page_list.list.length>0){%>
            <ul class="stu_list">
                <% item.page_list.list.forEach(function(list_item,index){%>
                    <li>
                        <div class="stu_name">
                            <i onclick="check(this)" data-userid="<%= list_item.user_id%>" data-studentid="<%= list_item.student_id%>" data-gradeid="<%=item.grade_id%>" data-classNum ="<%= item.class_num%>"></i>
                            <span><%= (item.page_list.page -1)*item.page_list.pageSize +(index+1)%></span>
                            <em>
                                <%if(list_item.student_name){%>
                                    <%= list_item.student_name%>
                                <%}else{%>
                                    <%= list_item.username%>
                                <%}%>
                            </em>
                        </div>
                        <div class="stu_ico">
                            <a href="javascript:;" onclick="learn_sate('<%=list_item.user_id%>')" class="yan">查看</a>
                            <a href="javascript:;" onclick="remove_student(this)" class="remove left_remove">删除</a>
                        </div>
                    </li>
                <%})%>
            </ul>
            <div class="remove_sel">
                <span class="le_remove_btn" onclick="le_remove_btn(this)">移出</span>
                <span class="add_btn" id="add_btn_alert" data-gradeid="<%=item.grade_id%>" data-classNum="<%= item.class_num%>" onclick="add_btn_alert(this)">添加本班学生</span>
                <% if(item.page_list && item.page_list.total_page>0){%>
                    <div class="page_list">
                            <span  style="margin-right: 20px;color: #333;">系统人数:<em style="color:#43adee;"><%= item.page_list && item.page_list.totalcount || '0'%></em></span>
                        <% for(var i=1;i<=item.page_list.total_page;i++){%>
                            <% if(item.page_list.page == 1){%>
                                <span><img src="/images/page_left.png" onclick="next('<%= item.link%>&page=1',this)"/> </span>
                            <%}else{%>
                                <span><img src="/images/page_left.png" onclick="next('<%= item.link%>&page=<%= item.page_list.page-1%>',this)"/> </span>
                            <%}%>
                            <% if(item.page_list.total_page<=10){ %>
                                <% for(var i=1; i<= item.page_list.total_page;i++){%>
                                    <% if(item.page_list.page == i){%>
                                        <em class="active" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                    <%}else{%>
                                        <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                    <%}%>
                                <% }%>
                            <%} else{%>
                                <%if(item.page_list.page<=5){%>
                                    <% for(var i=1; i<=10;i++){%>
                                        <% if(item.page_list.page == i){%>
                                            <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}else{%>
                                            <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}%>
                                    <% }%>
                                <%} else{%>
                                    <% for(var i=item.page_list.page-4; i<=item.page_list.page-1;i++){%>
                                        <% if(item.page_list.page == i){%>
                                            <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}else{%>
                                            <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}%>
                                    <% }%>
                                    <% var rightItemPageNumber = (item.page_list.page+5)>item.page_list.total_page?item.page_list.total_page:(item.page_list.page+5)%>
                                    <% for(var i=item.page_list.page; i<=rightItemPageNumber;i++){%>
                                        <% if(item.page_list.page == i){%>
                                            <em class="current" onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}else{%>
                                            <em onclick="next('<%= item.link%>&page=<%= i%>',this)"><%= i%></em>
                                        <%}%>
                                    <% }%>
                                <%}%>
                            <%}%>
                            <% if(item.page_list && item.page_list.page != item.page_list.total_page){%>
                                <span><img src="/images/page_right.png" onclick="next('<%= item.link%>&page=<%= parseInt(item.page_list.page) + 1%>',this)"/> </span>
                            <%}else{%>
                                <span><img src="/images/page_right.png" onclick="next('<%= item.link%>&page=<%= item.page_list.total_page%>',this)"/> </span>
                            <%}%>
                        <%}%>
                    </div>
                <%}%>
            </div>
        <%}else{%>
            <p style="text-align: center;margin-top: 20px;"> 暂无数据</p>
            <div class="remove_sel">
                <span class="le_remove_btn" onclick="le_remove_btn(this)">移出</span>
                <span class="add_btn" id="add_btn_alert" data-gradeid="<%=item.grade_id%>" onclick="add_btn_alert(this)" data-classNum="<%= item.class_num%>">添加本班学生</span>
            </div>
        <%}%>
    <%})%>
<%}%>
<script>
    /* Li背景色 */
//    function Libgcolor() {
//        if (true) {
//            $('.left_stu .stu_list li:even').css('background', '#fffde7');
//            $('.left_stu .stu_list li:odd').css('background', '#fff');
//        } else {
//            $('.right_stu .stu_list li:even').css('background', '#fffde7');
//            $('.right_stu .stu_list li:odd').css('background', '#fff');
//        }
//    }

    //Libgcolor(true);
</script>